<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid">
        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'CAIRN.Name' }}" />
        </div>
        <!-- Equipped -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.equipped">{{ localize 'CAIRN.Equipped' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked system.equipped}} name="system.equipped" id="system.equipped"
                    value="{{system.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Blast -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.blast">{{ localize 'CAIRN.Blast' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked system.blast}} name="system.blast" id="system.blast" value="{{system.blast}}"
                    data-dtype="Boolean" />
            </div>
        </div>
        <!-- Quantity -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.quantity">{{ localize 'CAIRN.Quantity' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.quantity" id="system.quantity" value="{{system.quantity}}"  data-dtype="Number" />
            </div>
        </div>
        <!-- Number of uses -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.numberOfUses">{{ localize 'CAIRN.Uses' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.numberOfUses" id="system.numberOfUses" value="{{system.numberOfUses}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Slots -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.slots">{{ localize 'CAIRN.Slots' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.slots" id="system.slots" value="{{system.slots}}" placeholder=0 data-dtype="Number" />
            </div>
        </div>
        <!-- Armor -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.armor">{{ localize 'CAIRN.Armor' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.armor" id="system.armor" value="{{system.armor}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Damage -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.damageFormula">{{ localize 'CAIRN.Damage' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.damageFormula" id="system.damageFormula" value="{{system.damageFormula}}" data-dtype="String" />
            </div>
        </div>
        <!-- Critical Damage -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.criticalDamage">{{ localize 'CAIRN.CriticalDamage' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.criticalDamage" id="system.criticalDamage" value="{{system.criticalDamage}}"
                    data-dtype="String" />
            </div>
        </div>
        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'CAIRN.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor system.description target="system.description" button=true owner=owner editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>
